@import url('https://fonts.googleapis.com/css?family=Exo:400,700'); 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Nunito, sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top:50vh;
  
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area{
position: absolute;
  background: #0f0f0ff1;  
  background: -webkit-linear-gradient(to left, #369e7b, #747497);  
  width: 100%;
  height:100vh;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(72, 66, 160, 0.664);
  animation: animate 25s linear infinite;
  bottom: -150px;
  filter: blur(8px);
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.container2 {
  width: 100%;
  margin: 0 auto;
}

  .subContainer {
    height: 56vh;
    width: 29%;
    background-color: #52525a;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px 
  }

  .logoStonks{
    width: 65%;
    align-items: center;

  }

  .imageFinanca{
    position: absolute;
    z-index: 9999;
    border-radius: 25px;
    width: 38%;
    height: 48%;
    top: 29.5%;
    left: 19.5%;
  }

  .conectText{
    margin-top: 28%;
    margin-bottom: 1%;
    color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 35px;
    
    position: relative;
    left: -2px;
    font-family: greycliffcf,sans-serif;
    font-size: 2em;
    margin-block-start: 1.17em;
    margin-block-end: 0.27em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0 !important;
  } 
  .conectText-subtitle{
    padding: 0 !important;
    margin-bottom: 45px;
    font-size: 15px;
    color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    left: -2px;
    font-family: greycliffcf,sans-serif;
   
    margin-inline-start: 0px;
    margin-inline-end: 0px;

  }


  .container-login {
    position: relative;
    z-index: 9999;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;  
  }

  

  .wrap-login {
    border-radius: 50px;
    height: 56vh;
    width: 26%;
    background-color: #1f1f1f;
    overflow: hidden;
    padding: 0px 40px 44px 55px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; 
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px


  }  

.login-form {
  width: 100%;
  
}

.login-form-title {
  font-family: Nunito, sans-serif;
  display: block;
  color: azure;
  line-height: 1.2;
 
  text-align: flex-start;
  top: -40px;
  
}

.login-form-title img {
  width: 90%;
  top: 40px; 
  padding-right: 3%;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #adadad;
  font-family: Nunito, sans-serif;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
 
}

.focus-input::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}
.button {
  height: 8vh;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 5%;

}

.button::after {
  content:"";
  height:102%;
  width: 55%;
  padding:4px;
  position: absolute;
  top: 6px;
  z-index:0;
  background-color:#000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 4px;
  border-radius: 5px;

}



.button button {
  color: #363636;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  z-index:1;
  background-color: #FFF;
  display: block;
  position: relative;
  padding: 10px 28px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #808080;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #808080;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #808080;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button button:active {
  top:10px;
  background-color:#808080;
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #808080;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #808080;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #808080;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt1 {
  font-size: 14px;
  color: #adadad;
  line-height: 1.5;
  padding-right: 5px;
}

.txt2 {
  font-size: 14px;
  color: #6a7dfe;
  line-height: 1.5;
  text-decoration: none;
}

.error{
  color: white;
}
