img {
  max-height: 90%;
 }


.teste {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color:  #363636;

}
.teste img:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 1s;
}
.teste span{
  width: 200px;
}

.icons{
  width: 255px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons img{
  width: 28px;
  height: 28px;
}

.nav-user{
  display: flex;
  gap: 15px;
  align-items: flex-end;
  justify-content: flex-end;
}


.p-container {
  padding-left: 1.5%;
  padding-top: 2.5%;
  font-size: 14px;
  color: #fff;
  font-family: Nunito, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  width: 190px;
  height: 50%;
}

.p-container p{
  margin:0;
  padding: 0;
}


.n2 {
  height: 30px;
  width: 30px;
}

.n2 img{
  width: 28px;
  height: 28px;
  padding-top: 3%;
}

/* tema escuro e claro*/
.toggle-switch {
  position: absolute;
  right: 20%;
  top: 3.7%;
  width: 70px;
  height: 30px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

button{
  width: 100%;
  height: 100%;
  background-color: #363636;
  border: none;
  color: #FFF;
}

ul{
  margin-right: 20px !important;
}


.custom-menu{
  left: 70% !important;
  top: 45px !important;
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  background-color: #4b4a4a !important;
  color: white !important;
  width: 210px !important;
  margin-right: 190px !important;

}

.notifi-item{
  height: 80px !important;
  flex-wrap: wrap !important;
  font-size: 8px !important;
  display: flex !important;
  align-items: center !important;
  max-width: 100% !important;
  justify-content: flex-start !important;
  
}

.dropdown-menu{
  width: 30px;
  height: 50px;
  background-color: #363636;
  margin-top: 1px !important;
  margin-right: 100px !important;
  border: none;
  border-radius: 10px !important;
}

.dropdown-menu{
  width: 30px !important;
  height: 50px !important;
  background-color: #363636;
  margin-top: 3px !important;
  margin-right: 100px !important;
  border: none;
}

.menu-config{
  margin-right: 100px !important;
  width: 100% !important;
  position: absolute !important;
  right: -110% !important;
  top: 53% !important;
  border-radius: 10px !important;
}


.menu-config a{
  padding-right: 0px !important;
}

.dropdown-item:hover{
  background-color: #363636;
  color: #fff;
}

.dropdown-item{
  background-color: #585656;
  color: #fff;
  font-size: 14px;
  width: 174px;
  height: 30px;
  border-right: 20px !important;
}

.me-2{
  margin: 0 !important;
  padding: 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.d-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
  width: 110%;
  margin-right: 20px !important;
}

.d-flex-child{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: Nunito, sans-serif;
  padding-left: 10px;
}

.badge{
  width: 50px !important;
}

.MuiBadge-badge{
  max-width: 20px !important;
  align-self: flex-start !important;
  border: 1px solid white;
  margin-bottom: 4px !important;
  margin-right: 4px !important;
}

.seta{
  font-weight: 700px;
  font-size: 17px;
}

.d-user{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
}

.d-user small{
  text-align: left;
  color: rgb(68, 249, 68)
}


.dropdown{
  left: -10px !important;
  top: 17px !important;
}

.dropdown-child{
  display: flex;
  align-items: center;
  gap: 7px;
}